on:
  push:
    tags:
      - "*"

env:
  app-name: blinker

jobs:
  build:
    runs-on: ubuntu-24.04
    container:
      image: docker.io/electronuserland/builder:wine
    permissions:
      id-token: write
      attestations: write
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6.0.1

      - name: Install application dependencies
        run: npm ci

      - name: Build application
        env:
          GITHUB_REF_NAME: ${{ github.ref_name }}
        run: |
          export HOME=${{ github.workspace }}
          ./update-version.sh

          npx electron-vite build
          npx electron-builder --win --publish=never
          npx electron-builder --linux --publish=never
      
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v5.0.0
        id: upload-artifact
        with:
          name: linux-artifacts
          path: ./dist/${{ env.app-name }}*

      - name: Attest Build Provenance
        uses: actions/attest-build-provenance@v3.0.0
        with:
          subject-name: linux-artifacts
          subject-digest: sha256:${{ steps.upload-artifact.outputs.artifact-digest }}

  release:
    runs-on: ubuntu-24.04
    needs:
      - build
    permissions:
      contents: write
    steps:
      - name: Download a Build Artifact
        uses: actions/download-artifact@v6.0.0
        id: download-artifact
        with:
          name: linux-artifacts

      - name: GH Release
        uses: softprops/action-gh-release@v2.5.0
        if: github.ref_type == 'tag'
        with:
          files: ${{ steps.download-artifact.outputs.download-path }}/*